body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#court {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('court_background.jpg') no-repeat center center;
    background-size: cover;
}

#cat {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 300px;
}

#basket {
    position: absolute;
    top: 50px;
    right: 10px;
}

#ball {
    position: absolute;
    bottom: 255px;
    left: 265px;
    height: 95px;
}

@keyframes throw {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    20% {
        transform: translate(140px, -160px) rotate(72deg);
    }
    40% {
        transform: translate(280px, -240px) rotate(144deg);
    }
    60% {
        transform: translate(480px, -320px) rotate(216deg);
    }
    80% {
        transform: translate(650px, -360px) rotate(288deg);
    }
    100% {
        transform: translate(780px, -200px) rotate(360deg);
    }
}

#ball {
    position: absolute;
    bottom: 255px;
    left: 265px;
    height: 95px;
}

.shoot {
    animation: throw 2s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

button:hover {
    background-color: #0056b3;
}

/* Social Media Icons */
#socialMedia {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 15px;
}

#socialMedia a {
    color: rgb(13, 13, 13);
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

#socialMedia a:hover {
    color: #131313;
}
